
a {
  color: #454df5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #030ba1;
}

.student {
  border: 5px solid #ffffff;
  border-radius: 5px;
  padding: 0px;
  overflow: hidden;
}

.all {
  margin-top: 50px;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr ));
  grid-column-gap: 45px
}
